.sonar {
  background: rgba(255,255,255,0.1);
  transition: transform ease-out 0.1s, background 0.2s;
}

.sonar:after {
  top: 0;
  left: 0;
  padding: 0;
  z-index: -1;
  box-shadow: 0 0 0 2px rgba(255,255,255,0.1);
  opacity: 0;
  transform: scale(0.9);
}

.sonar:hover {
  /*background: rgba(255,255,255,0.05);*/
  transform: scale(0.93);
  /*color: #fff;*/
}

.sonar:hover:after {
  animation: sonarEffect 1.3s ease-out 75ms;
}

@keyframes sonarEffect {
  0% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
  }
  100% {
    box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
    transform: scale(1.5);
    opacity: 0;
  }
}