aside
  padding: 10px
  width: 200px
  flex none

  ul
    font-size .8em
    li
      border-bottom 1px dotted pastelblue
      padding: 0.5em 0

  .links
    a
      display: inline-block
      color: skyblue
      &:hover
        color: blue
  .tags
    li
      color: pastelblue
      &:before
        content "#"
