header-height = 40px

body
  padding-top 40px

#site-header
  color: #ffffff
  background #202020
  /*padding: 20px 0*/
  height: header-height
  z-index 2

  nav
    a
      display flex
      padding: 0 10px
      align-items center
      font-size 1.2em
      font-variant small-caps
      letter-spacing 0px
      color: #fafafa
      transition color .3s
      &:before, &:after
        display: inline-block
        transition transform .3s, opacity .2s
        opacity 0
      &:before
        content "["
        transform: translateX(0)
      &:after
        content "]"
        transform: translateX(0)

      &:hover
        color: skyblue
      &:hover:before,
      &:hover:after
        opacity 1
      &:hover:before
        transform: translateX(-10px)
      &:hover:after
        transform: translateX(10px)