tablet-min-width = 320px
tablet = '(min-width: tablet-min-width)'
tablet-landscape-min-width = 678px
tablet-landscape = '(min-width: tablet-landscape-width)'
desktop-min-width = 1024px
desktop = '(min-width: desktop-min-width)'