* {
  box-sizing: border-box;
  position: relative;
  outline: 0;
  border: 0;
  margin: 0;
  padding: 0;
  text-decoration: none;
  background: transparent;
  line-height: 1.5em;
  font-size: inherit;
  font-style: normal;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  text-transform: inherit;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  &:active,
  &:focus {
    outline: 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
  }
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  font-size: 16px;
  font-weight: 300;
  font-family: Helvetica, arial, sans-serif;
}

ol, ul, li{
  list-style: none;
}
s{
  text-decoration: line-through;
}
em{
  font-style: normal;
}
strong{
  font-weight: 700;
}
button{
  user-select: none;
}

[hidden], template{
  display: none !important;
}