.project-thumb
  color: pastelblue
  border-bottom 1px solid lightgrey
  /*border-radius 4px*/
  padding: 10px 20px
  margin-bottom 10px

  .name
    display: inline-block
    vertical-align middle
    font-size 1.4em
    &:hover
      color: blue
      text-decoration underline

  .main-category
    display: inline-block
    vertical-align middle
    padding 5px 10px
    border-radius 2px
    font-size .8em
    line-height 1em
    margin-left 1em

    &.node
      color: forestgreen

  .description
    display block
    font-size .9em
