[fixed]{position: fixed}
[stick]{position: absolute}

[fixed~="top"],[stick~="top"]{top: 0}
[fixed~="left"],[stick~="left"]{left: 0}
[fixed~="right"],[stick~="right"]{right: 0}
[fixed~="bottom"],[stick~="bottom"]{bottom: 0}
[fixed="to-left"],[stick="to-left"]{top:0; left: 0; bottom: 0}
[fixed="to-top"],[stick="to-top"]{top:0; left: 0; right: 0}
[fixed="to-bottom"],[stick="to-bottom"]{left:0; bottom: 0; right: 0}
[fixed="to-right"],[stick="to-right"]{top:0; bottom: 0; right: 0}
[fixed="fill"],[stick="fill"]{top:0; left: 0; right: 0; bottom: 0}