@require "background"
body
  /*background darkslateblue*/
  height: 100%
  /*background url("/static/img/moon-over-mistral-sky.jpg") no-repeat center top*/
  /*background-size cover*/
  /*005c83*/
  /*background linear-gradient(to top, #a3ddeb, #005c83)*/
  background aliceblue
  background rgb(65, 149, 198)
  background #2C3236
  color: #fafafa


@font-face {
  font-family: 'Chawp-Master'
  src:url('/static/font/chawp-master/webfont/chawpwebfont.eot');
  src: url('/static/font/chawp-master/webfont/chawpwebfont.eot?#iefix') format('embedded-opentype'),
    url('/static/font/chawp-master/webfont/chawpwebfont.woff') format('woff'),
    url('/static/font/chawp-master/webfont/chawpwebfont.ttf') format('truetype'),
    url('/static/font/chawp-master/webfont/chawpwebfont.svg#$VAR0$') format('svg');
  font-style: normal;
  font-weight: normal;
}

h1
  margin 1em 0 .2em
  text-align center
  font-family: 'Chawp-Master'
  font-size 4em
  line-height 1em
  em
    color: skyblue
h2
  text-align center
  font-family: 'Chawp-Master'
  padding 0 1em

main
  /*z-index 1*/
