article
  background #ffffff
  //border 1px solid mediumseagreen
  padding: 0 1em 2em

  p
    margin-bottom 1em
    line-height 1.5em

  h1
    font-size 2em
    line-height 1.2em
    margin-bottom .2em
  h2
    font-size 1.8em
    line-height 1.2em
    margin-bottom .8em
  h3
    font-size 1.4em
    line-height 1.2em
    margin-bottom .2em
  h4
    font-size 1.2em
    line-height 1.2em
    margin-bottom .2em

  pre
    background #c2ccd1
    padding: 1em
    margin-bottom 1.5em

  ul
    padding-left 1em
    margin-bottom 1.5em

  li
    &:before
      content "-"
      display inline-block
      margin-right .5em
      font-size .8em

  a
    color: skyblue
    &:hover
      text-decoration underline